<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="#home"><%= @restaurant.name %></a>
        <div id="item-right"> <!-- class="nav justify-content-end"-->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-link"><a href="#carte">La carte</a></li>
            </ul>
        </div>
    </div>
</nav>