<h1>Merci d'avoir réserver une table !<h1>
<h3>Nous validerons votre réservation dans les plus bref delais et vous enverrons une confirmation sur votre téléphone par SMS.</h3>
<a href="/restaurant/<%= @id %>" class="btn btn-primary">
    Back to restaurant page
</button>